*.swp
/tmp
*.iws
*Db.properties
*Db.script
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
/out/
/web-app/plugins
/web-app/WEB-INF/classes
.DS_Store
.classpath
.groovy/**
.project
.settings/**
target/**
plugins/**
target-eclipse/**
/.link_to_grails_plugins
/target
/stacktrace.log
/grails-app/conf/LocalConfig.groovy
/grails-app/conf/QuartzConfig.groovy
.metadata/**
Servers/**
*DummyController.groovy
tags
