#entry0 .entry.device-summary-entry {
	padding-left: 35px;
}

#entry0 .entry.device-tag-entry:not(.no-summary) {
	padding-left: 70px;
	border-left: none;
}

#entry0 .entry.device-tag-entry.no-summary {
	padding-left: 40px;
}

.device-entry .toggle-icon, .device-summary-entry .toggle-icon {
	margin-right: 2px;
}

.entry.device-entry, .entry.device-summary-entry {
	cursor: pointer;
	font-weight: bold;
}

.entry.device-summary-entry .content-wrapper {
	font-weight: bold;
}

.content-wrapper {
	width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}