.padding {
	padding: 15px;
}

.relative {
	position: relative;
}

.margin-top {
	margin-top: 15px;
}

.margin-left {
	margin-left: 15px;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-z {
	margin: 0 !important;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-clear {
	background: transparent;
}

.btn-orange {
	color: white;
	background: #f48d5b;
}

.btn-orange.btn-outline {
	color: #f48d5b;
	border: 1px solid #f48d5b;
	background: white;
}

.text-purple {
	color: #c04f7f;
}

.text-red {
	color: #f14a42;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-lg {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.btn-flat {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.btn-red {
	background-color: #f14a42;
	color: white !important;
}

.btn-red:hover {
	background-color: #ED1D12;
}

.btn-red-outline {
	background: white;
	color: #ED1D12 !important;
	border: 1px solid #ED1D12;
}

.btn-red-inverse {
	color: #9d9d9d !important;
	border-radius: 2px;
	font-weight: bold;
	background-color: white;
}

.btn-red-inverse:hover {
	background-color: #f14a42 !important;
	color: white !important;
}

.no-whitespace {
	line-height: 0;
	font-size: 0;
}

.page-subheader {
	padding-bottom: 9px;
	margin: 0 0 5px;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.mask.mask-white {
	background: white;
}

.feedback-container {
	position: relative;
}

.msg-container {
	z-index: 2;
	font-weight: bold;
	position: absolute;
	top: calc(50% - 14px);
	left: calc(50% - 12.5px);
}

.no-hr-resize {
	resize: vertical;
}