@media (max-width: 480px) {
	div.red-header.date-controls input#datepicker {
		width: 120px;
		font-size: 13px;
		padding-top: 2px;
	}
	body.track-page .date-controls h1 span.date {
		padding: 0 3px;
	}
	body.tags-displayed div.tags-header-container {
		border-bottom: 0;
	}
	body.tags-displayed div.tags-container {
		margin-left: 0;
	}
	div.tags-container div#tagListWrapper ul#tagList {
		overflow-y: auto;
	}
	body.graph-page div.red-header h1.right {
		padding: 10px;
		word-wrap: break-word;
	}
	#queryTitle {
		display: none;
	}
	#mobileQueryTitle {
		display: inline;
	}
	.dateline {
		text-align: center;
	}
	.startdatepicker, .enddatepicker {
		width: 100%;
		text-align: center;
	}
	div.leftNav, div#plotLeftNav, div#plotLinesplotArea {
		height: auto;
	}
	body.user-preference .row .col-sm-3 {
		display: none;
	}
	body.user-preference .profile-container input:not([type=radio]):not([type=checkbox]):not([type=submit]), .profile-container text-area {
		min-width: 0;
		width: 100%;
	}
	body.user-preference .profile-container div.form-group {
		margin-bottom: 10px !important;
	}
	#dashmain {
		width: 100%;
	}
	#graphlist .summary {
		padding: 12px 15px;
	}
	#graphList .summary h2 {
		width: auto !important;
		padding-left: 14px;
	}
	#graphList .summary .userName, #graphList .summary .visibility, #graphList .summary .publishButton, #graphList .summary .date {
		width: auto;
		padding-bottom: 4px;
	}
	body.track-page .date-controls hr, body.graph-page .red-header hr {
		right: 33%
	}
	.search-bar .fa {
		right: 30% !important;
	}
}

@media (max-width: 768px) {
	.container {
		width: 960px !important;
	}
	.header .signin {
		float: none !important;
		padding: 10px 0;
	}
	.header .logo-container .logo-link {
		margin-bottom: 1px;
	}
	.header .mainLinks {
		padding-top: 10px;
		margin-right: 0px;
	}
	.mainLinks li {
		display:block;
		padding: 0px 10px 0px 10px;
	}
	.footer ul {
		width: 25%;
		text-align: center;
	}
	body.track-page .date-controls hr, body.graph-page .red-header hr {
		right: 33%
	}
	.tags-header-container {
		padding-left: 0px;
	}
	.tags-header-container h1 {
		font-size: 14px;
	}
}

@media (max-width: 992px) {
		.container {
				padding: 0;
				margin-left: 10px;
				margin-right: 10px;
		}
		.curiosities .container {
				padding: 10px;
				margin-left: 0px;
				margin-right: 0px;
		}
		.curiosities .arrow-box {
			display: none;
		}
		.user-details {
			min-width: 500px;
		}
		.bugs a {
				right: -10px;
		}
		.fixed-column {
				width: 33%;
		}
		.red-header .right {
				width: 67%;
		}
		body.tags-displayed .floating-column {
				width: calc(67% - 2px);
		}
		body.track-page .date-controls hr, body.graph-page .red-header hr {
				right: 33%
		}
		.inputRemindPosition {
			right: 24%
		}
		.inputRepeatPosition {
			right: 12%;
		}
		.inputPinPosition {
			right: 2%;
		}
		.input-affordance p {
			right: 36%
		}
		.addon input {
			padding-right: 45%;
		}
		#entry0 .ui-selected {
		}
		li img.edit-repeat {
			right: 215px;
		}
		li img.edit-remind {
			right: 285px;
		}
		li img.edit-pin {
			right: 150px;
		}
		.mainLinks {
			margin-right: 110px;
		}
}
