* {
	font-family: 'Open Sans', sans;
}

a {
	color: #5D5D5D;
}

.main-links li {
	padding: 30px 20px;
	display: inline-block;
	list-style-type: none;
}

.main-links .active a {
	color: #f14a42;
}

.logo {
	margin-left: 20px;
	margin-bottom: 150px;
	margin-right: 15%;
}

.light-caption {
	font-size: 34px;
	font-weight: 400;
	color: #f14a42;
	text-align: right;
	margin-bottom: 0px;
	white-space: nowrap;
}

.bold-caption {
	font-size: 31px;
	color: #f14a42;
	text-align: right;
	font-weight: 600;
}

.story-wrapper {
	position: relative;
	background-color: #c04f7f;
}

.story-wrapper p {
	font-size: 16px;
	margin: 40px 0px;
}

.story-wrapper .row {
	padding: 50px;
}

.team-wrapper {
	text-align: center;
	padding: 40px;
	background-color: #f6f6f6;
}

.team-wrapper ul {
	float: right;
}

.thumbnail {
	text-align: center;
	height: 305px;
	width: 300px;
	margin: 20px 40px;
	display: inline-table;
	border: none;
	box-shadow: 0px 4px 5px 0px #dedede;
	margin-bottom: 100px;
}

#advisors .thumbnail {
	height: 250px;
}

.thumbnail hr {
	border: 1px solid #eee;
}

.thumbnail ul {
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	float: left;
}

.thumbnail li {
	color: #4c4c4c;
	list-style-type: none;
	margin-bottom: 3px;
	text-indent: -0.8em;
}

.thumbnail li:before {
	content: '\2013';
}

.thumbnail h3 {
	color: #4c4c4c;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.thumbnail h4 {
	color: #4c4c4c;
	font-style: italic;
}

.thumbnail > img {
	height: 105px;
	width: 105px;
	margin-top: -55px;
	border: 3px solid #fff;
}

.headerLinks {
	margin-top: 20px;
	margin-bottom: 30px;
}

.header-button {
	color: #9d9d9d;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 2px !important;
	font-size: 14px;
	font-weight: bold;
	border-color: #adadad;
	border-top-right-radius: 0;
	background-color: white;
	margin-top: -8px;
}

.header-button:hover {
	background-color: #f14a42;
}

.about-wrapper {
	background-color: #ff935f;
}

.about-wrapper p {
	margin-bottom: 50px;
	font-size: 18px;
	color: #fff;
	max-width: 700px;
}

.story-wrapper, .team-wrapper, .about-wrapper, .questions-wrapper {
	padding: 55px;
}

.story-wrapper h3 {
	margin-top: 0px;
}

.do-you {
	font-size: 31px;
	color: #f14a42;
	font-weight: 600;
}

#sidebar {
	height: 400px;
	background: url(../images/bracket.png) no-repeat center right;
	text-align: right;
	padding: 130px 50px 0px 10px;
	background-size: contain;
	float: right;
}

#sidebar p {
	margin-right: 80px;
	padding: 0;
	color: #5d5d5d;
	font-size: 16px;
}

#sidebar a {
	color: #c04f7f;
	font-weight: 600;
}

.caroufredsel_wrapper {
	z-index: auto;
	height: 360px;
	margin: 15px 0px;
	overflow: hidden;
	padding-top: 30px;
}

.questions {
	text-align: left;
	float: none;
	position: absolute;
	top: 30px;
	right: auto;
	bottom: auto;
	left: 0px;
	margin: 0px;
	z-index: auto;
	height: 89140px;
	width: 600px;
}

.question {
	margin: 0px 0px 30px 40px;
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
	line-height: 1.15em;
}

.count {
	visibility: hidden;
	display: inline-block;
	font-size: .55em;
}

.team-title-bar {
	margin-bottom: 100px;
	text-align: left;
}

.team-title-bar .nav-tabs {
	border: none;
}

.team-title-bar h3 {
	float: left;
	color: #4c4c4c;
}

.team-title-bar a {
	font-size: 18px;
}

.team-title-bar > .nav-tabs > li.active > a, .team-title-bar > .nav-tabs > li.active > a:hover, 
.team-title-bar > .nav-tabs > li.active > a:focus {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #c04f7f;
	text-decoration: underline;
}

.footerLinks {
	margin: 30px 0px 50px 0px;
}

.footerLinks ul {
	float: left;
	list-style-type: none;
	padding-left: 0px;
}

.social-links {
	float: right;
	margin-top: -80px;
	color: #fff;
	text-align: center;
}

.footerLinks a {
	color: #b35930;
}

.modal-dialog {
	width: 700px;
	margin-top: 10%;
}

.modal-content {
	border-radius: 3px;
	background-color: #ececec;
	padding: 40px;
}

textarea {
	resize: none;
	border: none !important;
}

#earlyInvitationModal label {
	text-align: center;
	color: #626262;
	font-size: 15px;
	padding: 0px;
	padding-right: 10px;
}

#earlyInvitationModal input {
	height: 60px;
	border-radius: 2px;
	border: none;
}

#earlyInvitationModal textarea, #earlyInvitationModal input {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 15px;
	padding: 20px;
	color: #8b8b8b;
}

#earlyInvitationModal .btn {
	font-size: 18px;
}

#earlyInvitationModal p {
	font-size: 12px;
	color: #898989;
}

.btn {
	height: 60px;
	padding: 0px 30px;
	border: none;
	border-radius: 2px;
}

.btn-warning {
	background-color: #ff935f;
	color: #fff;
	font-weight: 700;
}

.btn-clear {
	background-color: transparent;
	color: #898989;
}

.modal-footer {
	border: none;
	padding: 0px;
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
	.story-wrapper p {
		max-width: 700px;
	}
}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
	.logo {
		margin-right: 10%;
	}
}

@media only screen 
and (min-device-width: 1px)
and (max-device-width: 768px) {
	body {
		min-width: 768px;
	}

	#sidebar {
		padding-top: 60px;
	}

	#sidebar p {
		margin-right: 60px;
	}

	.logo {
		margin-right: 5%;
	}
}
