<div class="people-wrapper">
	<div class="user-details-header">
		<a href="#">
			<img class="avatar" src="/images/avatar.png" alt="avatar">
			<span class="user-name"><%- user.username %></span>
		</a>
		<button class="follow">FOLLOW</button>
	</div>
	<div class="user-details-content">
		<span>Interest Tags:</span>
		<span class="label-value"><%- user.interestTags %></span>
	</div>
	<div class="user-details-content">
		<span>Public Sprints:</span>
		<span class="label-value"><%- user.sprints %></span>
	</div>
	<div class="user-details-content">
		<span>Start Date:</span>
		<span class="label-value"><%- $.datepicker.formatDate('mm/dd/yy', user.created) %></span>
	</div>
</div>
